@model BandPage.Models.Page

@{
    ViewBag.Title = "Pages › Delete page";
}

<h1>Pages › Delete page</h1>

<p>Are you sure you want to delete the page <b>"@Model.Title"</b>?</p>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


