
/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html { font-size: 84%; }

body {
    background: #d37441;
    color: #333;
    font: 1em/1.5em "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    overflow-y: scroll;
}

a {
    color: #333;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

ul { list-style: none; text-indent: 0; }
li {  }

b { font-weight: bold; }

h1, h2, h3,
h4, h5, h6 {
    color: #000;
}

h1 { font-size: 2em; margin: 0 0 20px; }
h2 { font-size: 1.75em; margin: 10px 0; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.1em; }
h5, h6 { font-size: 1em; }

.multicolor 
{
    position: relative;
    height: 8px;
    background: url(/Images/linje.png) repeat;
    z-index: 10000;
    box-shadow: 0 0 6px rgba(0,0,0,.6);
}

.header 
{
    position: relative;
    background: #5a5a5a url(/Images/admin-header-bg.png) repeat-x;
    text-align: center;
    z-index: 1000;
} 
    
.nav 
{
    position: relative;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    }
    .nav ul { display: inline-block; }
    .nav ul li { display: inline-block; zoom: 1; *display: inline; }
    .nav ul li a 
    {
        padding: 0 15px;
        display: inline-block;
        text-decoration: none;
        color: #eeeeee;
        line-height: 40px;
        border-right: 1px solid rgba(0,0,0,.15);
        }
        .nav ul li a:hover { background: rgba(255,255,255,.06); }
        .current { font-weight: bold; background: white; color: #000 !important; }
        .current:hover { background: white !important; }

.body 
{
    position: relative;
    padding: 30px;
    width: 96%;
    z-index: 1010;
    max-width: 880px;
    background: #fff;
    margin: 0 auto;
    border-left: 1px solid rgba(0,0,0,.2);
    border-right: 1px solid rgba(0,0,0,.2);
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
}



/* form elements */
label { display: inline-block; width: 120px; }
input, textarea, select { padding: 8px; border: 1px solid rgba(0,0,0,.3); border-radius: 3px; box-shadow: 0 0 4px rgba(0,0,0,.2); }
input[type=submit] { cursor: pointer; }
input[type=submit]:hover { box-shadow: 0 0 4px rgba(0,0,0,.4); }
textarea { width: 100%; }
input[type=text], input[type=email], input[type=datetime], input[type=password]  { width: 100%; max-width: 400px; }

.form-row { display: block; margin: 12px 0; }
/* end form elements */



/* custom form styles */
.textareaSmall { height: 150px !important; }
.textareaBig { height: 400px !important; }
.textboxSmall { max-width: 150px !important; }
.textboxSmaller { max-width: 80px !important; }
.textboxNumber { max-width: 40px !important; }
.textboxFull { max-width: 100% !important; }

.info-icon { display: inline-block; opacity: .5; }
.info-icon:hover { opacity: 1; }
/* end custom font styles */



/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}


/* tables
----------------------------------------------------------*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    width: 100%;
    box-shadow: 0 0 6px rgba(0,0,0,.12);
}
tr { border-bottom: 1px solid rgba(0,0,0,.05); }
th, td { padding: 10px; vertical-align: middle; }
th {
    font-weight: bold;
    background: #e9e9e9;
    text-align: left;
    background: #feffe8; /* Old browsers */
    background: -moz-linear-gradient(top, #feffe8 0%, #d6dbbf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffe8), color-stop(100%,#d6dbbf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #feffe8 0%,#d6dbbf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #feffe8 0%,#d6dbbf 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #feffe8 0%,#d6dbbf 100%); /* IE10+ */
    background: linear-gradient(to bottom, #feffe8 0%,#d6dbbf 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffe8', endColorstr='#d6dbbf',GradientType=0 ); /* IE6-9 */
}
tr:hover { background: #fcfcfc; }

.header-image, .background-image, .footer-image { max-width: 100%; }

.store-image { max-width: 90px; max-height: 60px; }

#logout
{
    float: right;
    margin: -25px -10px 0 0;
    color: rgba(0,0,0,.8);
    }
    #logout a { color: rgba(0,0,0,.8); }
    #logout form { display: inline-block; }

.image-delete { display: block; }

.show-cancelled { text-decoration: line-through; color: rgba(0,0,0,.6); }

.quick-links {  }
.quick-links li { display: inline-block; width: 33%; padding: 10px; }
.quick-links li a
{
    display: block;
    text-align: center;
    box-shadow: 0 0 6px rgba(0,0,0,.2);
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    padding: 10px;
}

#image-gallery li { position: relative; display: inline-block; }
#image-gallery li .delete { display: none; position: absolute; top: 5px; right: 10px; border: none; }
#image-gallery li .delete:hover { cursor: pointer; }
#image-gallery .image-gallery-thumb
{
    max-height: 100px;
    border: 1px solid rgba(0,0,0,.4);
    margin: 0 5px 5px 0;
    box-shadow: 0 0 4px rgba(0,0,0,.2);
}