@model CircuitBentCMS.Models.Blog

@{
    ViewBag.Title = "Blog > Delete";
}

<div class="row menu">
    <div class="col-sm-6">
        <ol class="breadcrumb">
            <li><a href="/Admin/Blogs">Blog</a></li>
            <li class="active">Delete post</li>
        </ol>
    </div>
</div>

<p>Are you sure you want to delete "<b>@Model.Headline</b>"?</p>

@using (Html.BeginForm()) {
    <button type="submit" class="btn btn-primary">Delete</button>
    <a href="/Admin/Blogs" class="btn btn-default">Back to list</a>
}


