@model IEnumerable<BandPage.Models.Blog>

@{
    ViewBag.Title = "Blog";
}

@foreach (var item in Model)
{
    <a href="/blog/@item.BlogId">
        <h1 style="margin-bottom: 5px">
            @item.Headline <span style="color: #6f6f6f; font-size: .65em;">(@item.Date.Day/@item.Date.Month)</span>
        </h1>
    </a>
        
}
