@{
    ViewBag.Title = "Contact";
}

<h1>Contact</h1>
@Html.Raw(ViewBag.ContactText)

<form id="contact-form">
<input type="text" name="email" id="email" placeholder="Your e-mail address" />

<input type="text" name="subject" id="subject" placeholder="Subject" />

<div class="cheater">
    <input type="text" name="cheater" id="cheater" />
</div>

<textarea name="message" id="message" placeholder="Your message"></textarea>

<label for="submit"></label>
<input type="submit" name="submit" id="submit" value="Send" class="submit-button" />
</form>

<script>
    $('#contact-form').submit(function () {
        // disable the submit button
        $('#submit').attr('disabled', 'disabled');

        $.ajax({
            url: 'Email/ContactBand',
            type: 'POST',
            data: {
                email: $('#email').val(),
                subject: $('#subject').val(),
                message: $('#message').val()
            },
            success: function (result) {
                if (!result.success) {
                    $().toastmessage('showToast', {
                        text: 'Something went wrong. Error message: ' + result.errorMessage,
                        position: 'middle-center',
                        stayTime: 5000,
                        type: 'error'
                    });
                }
                else {
                    $().toastmessage('showToast', {
                        text: 'Thanks for contacting us! We will get back to you as soon as possible.',
                        position: 'middle-center',
                        stayTime: 5000,
                        type: 'notice'
                    });

                    $('#email').val('');
                    $('#subject').val('');
                    $('#message').val('');
                }

                // re-enable the submit button
                $('#submit').removeAttr('disabled');
            },
            error: function (result) {
                $().toastmessage('showToast', {
                    text: 'Something went wrong. Error message: ' + result.errorMessage,
                    position: 'middle-center',
                    stayTime: 5000,
                    type: 'error'
                });

                // re-enable the submit button
                $('#submit').removeAttr('disabled');
            }
        });

        return false;
    });
</script>