@model BandPage.Models.MenuItem

@{
    ViewBag.Title = "Menu › Delete menu item";
}

<h1>Menu › Delete menu item</h1>

<p>Are you sure you want to delete the menu item "<b>@Model.Title</b>"?</p>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


