@{
    ViewBag.Title = "Home";
}

<h1>Manage site</h1>
<p>
    Welcome to the admin section of your band page.
    You will find the different sections in the menu above. For the most common tasks you can use the quick links below.
</p>

<ul class="quick-links">
    <li>
        <a href="/Admin/Blogs/Create">
            <h2>Quick link</h2>
            Add blog post
        </a>
    </li>
    <li><a href="/Admin/Shows/Create">Add show</a></li>
    <li><a href="/Admin/Pages/Create">Add page</a></li>
</ul>
