@model CircuitBentCMS.Models.MailSettings

<div class="form-group">
    <label for="Email" class="control-label col-sm-2">E-mail</label>
    <div class="col-sm-10">
        <div class="input-group">
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        
            <span class="input-group-addon">
                <img src="~/Images/icons/actions/info.png" alt="Info" title="The e-mail address that the contact form will send e-mails to." class="info-icon" />
            </span>
        </div>
    
        @Html.ValidationMessageFor(model => model.Email)
    </div>
</div>

