@model CircuitBentCMS.Models.Show

@{
    ViewBag.Title = "Events › Edit event";
}

<div class="row menu">
    <div class="col-sm-6">
        <ol class="breadcrumb">
            <li><a href="/Admin/Shows">Events</a></li>
            <li class="active">Edit event</li>
        </ol>
    </div>
</div>

@using (Html.BeginForm("Edit", "Shows", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.ShowId)
	@Html.Partial("_CreateOrEdit", Model)

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <button type="reset" class="btn btn-default">Undo</button>
        </div>
    </div>
}