@model BandPage.Models.LocalPasswordModel
@{
    ViewBag.Title = "Change password";
}

<h1>@ViewBag.Title</h1>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

