@model BandPage.Models.Show

@{
    ViewBag.Title = "Shows › Delete show";
}

<h1>Shows › Delete show</h1>

<p>Are you sure you want to delete the show "<b>@Model.Title"</b></p>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


