@model BandPage.Models.Show

@{
    ViewBag.Title = "Shows › Edit show";
}

<h1>Shows › Edit show</h1>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.ShowId)
	@Html.Partial("_CreateOrEdit", Model)

    <div class="form-row">
        <label></label><input type="submit" value="Save changes" />
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
