@model BandPage.Models.StoreItem
@{
    ViewBag.Title = "Store › Add new item";
}

<h1>Store › Add new item</h1>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    @Html.Partial("_CreateOrEdit", Model)

    <div class="form-row">
        <label></label><input type="submit" value="Create" />
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
