@model BandPage.Models.StoreItem

@{
    ViewBag.Title = "Store > Edit item";
}

<h1>Store › Edit item</h1>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    
    @Html.HiddenFor(model => model.StoreItemId)
	@Html.Partial("_CreateOrEdit", Model)

    <div class="form-row">
        <label></label><input type="submit" value="Save changes" />
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
