@model BandPage.Models.Blog

@{
    ViewBag.Title = "Blog > Delete";
}

<h1>Blog › Delete blog post</h1>

<p>Are you sure you want to delete "<b>@Model.Headline</b>"?</p>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


